.review-items {
  width: 571px;
  border: 1px solid rgb(108, 64, 150);
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
}
.review-details {
  flex-grow: 1;
}
.review-details p {
  margin: 0 15px;
}
.review-items img {
  width: 91px;
  height: 91px;
  border-radius: 6px;
}
.orange-text {
  color: coral;
}
.btn-delate {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: rgb(255, 134, 113);
  display: flex;
  justify-content: center;
  align-items: center;
}
.delate-icon {
  color: rgb(218, 91, 0);
  font-size: 27px;
}
